/* Custom Material Deisgn Theme - Forest */
$color_primary: #8bc34a;
$color_primary_light: #bef67a;
$color_primary_dark: #5a9216;
$color_primary_text: #f5f5f5;
$color_secondary: #FFEB3B;
$color_secondary_light: #ffff72;
$color_secondary_dark: #c8b900;
$color_secondary_text: #455a64;
$border_light: #ababab;

.sidenav {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 10px;
    margin-bottom: 20px;
    background-color: $color_primary;
    text-align: center;

    img {
      vertical-align: middle;
      height: 156px;
    }
  }

  &__links {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    button {
      color: $color_secondary_text;
      margin: 10px;
    }
  }
}
