<form #f="ngForm" (ngSubmit)="save()" *ngIf="hike">
  <div>
    <mat-form-field class="form__input--text">
      <input matInput name="title" [(ngModel)]="hike.title" placeholder="Hike Title" required
        (keypress)="modelChange($event)" (blur)="modelChange($event)" />
    </mat-form-field>
  </div>

  <div>
    <button type="submit" title="Save">Save</button>
  </div>

  <mat-tab-group>
    <mat-tab label="Description">
      <label>Description</label>
      <ckeditor name="description" [(ngModel)]="hike.description" [editor]="Editor"></ckeditor>
    </mat-tab>
    <mat-tab label="Stats">
      <div>
        <label>Sections:
          <input type="number" [(ngModel)]="hike.sections" name="sections" (keypress)="modelChange($event)"
            (blur)="modelChange($event)" />
        </label>
      </div>

      <div>
        <label>Distance:
          <input type="number" [(ngModel)]="hike.distance" name="distance" (change)="modelChange($event)"
            (blur)="modelChange($event)" />
        </label>
      </div>
    </mat-tab>

    <mat-tab label="Sections">
      <div>
        <label for="sections">Sections:</label>
        <app-hike-section-list name="sections" [hikeId]="hike.id"></app-hike-section-list>
      </div>
    </mat-tab>

    <mat-tab label="Gallery">
      <app-gallery-editor [images]="hike.gallery" [galleryPath]="hike.id" (galleryChanged)="onGalleryChanged($event)">
      </app-gallery-editor>
    </mat-tab>
    <mat-tab label="Map"> Content 3
      <app-file-upload [path]="hike.id" [defaultFileName]="hike-trail" (fileUploaded)="onFileUploaded($event)">
      </app-file-upload>
      <app-map-editor [mapDataUrl]="hike.mapDataUrl"></app-map-editor>
    </mat-tab>
  </mat-tab-group>

</form>
