mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 350px;
  max-width: 100%;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;

  header { z-index: 1;}
  main {
    flex-grow: 1;
    background-image: url(/images/topography.jpg);
    background-size: cover; 
  }
}
