<form #f="ngForm" *ngIf="hikeSection" name="section-form" class="hike-section__editor" (ngSubmit)="save()">
  <mat-form-field class="form__input--text">
    <input matInput name="title" [(ngModel)]="hikeSection.title" placeholder="section title" required />
  </mat-form-field>

  <mat-form-field class="form__input--textarea">
    <textarea matInput name="description" [(ngModel)]="hikeSection.description" placeholder="section description"></textarea>
  </mat-form-field>

  <mat-form-field class="form__input--number">
    <input matInput name="distance" [(ngModel)]="hikeSection.distance" type="number" placeholder="distance" />
  </mat-form-field>

  <button mat-button type="submit">save</button>
  <button (click)="goBack()">go back</button>
</form>
